﻿#particles canvas {
    opacity: 0.2;
    
  
}

.header {
    position: relative;
    height: 515px;
}
@media (max-width: 420px) {

    .header-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background-size: cover;
        z-index: 0;
    }
}
@media (min-width: 422px) {
    .header-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

        .header-bg:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: -1;
            content: "";
            opacity: .5;
        }

    .header .container {
        position: relative;
        z-index: 3;
    }
}

.container {
  overflow: hidden;
}

.filterDiv {
  /*float: left;*/
  /*background-color: #2196F3;*/
  /*color: #ffffff;*/
  /*width: 100px;*/
  /*line-height: 100px;*/
  /*text-align: center;*/
  /*margin: 2px;*/
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}