﻿@model FP3.Data.EF.OpenPosition

@{
    ViewBag.Title = "Details";
}

@*<hr />
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4"><strong>@Model.Position.Title</strong></h2>
        <h3 class="mb-4"> @Model.Location.City, @Model.Location.State</h3>
        <h4 class="mb-4">@Model.Position.JobDescription </h4>

        @*<a class="btn btn-light btn-xl" href="~/Applications/Create/@Model.OpenPositionID">Sign up here</a> <br />*@
        
     


        @* Placeholder for the create form populated by our partial view. Visibility starts as hidden, toggled by button above *@
        @*<div id="ApplyCreate">
            @Html.Partial("Apply", new FP3.Data.EF.Application())
        </div>

    </div>

</section>*@

<section class="page-section" id="services">
    <div class="container">
        @*<h2 class="text-center mt-0">@Model.Position.Title</h2>*@
       
        <div class="row">

            <div class="col-lg-12 col-md-6 text-center" style="padding-top:2rem;">
                <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>  
                
                <h2 class="text-center mt-0">@Model.Position.Title</h2>
                <hr class="divider my-2">
                <p class="text-muted mb-0">@Model.Location.City, @Model.Location.State</p>

                @*<div class="mt-5">
                                      
                    <h3 class="h4 mb-2">Description</h3>*@

                    <p class="text-muted mb-0">@Model.Position.JobDescription</p>
                </div>
            </div>                      
           
        </div>
        <hr>
        
   
    <div class="text-center">
        @Html.ActionLink("Apply", "Application", new { app = Model.OpenPositionID })
        <br />
        @Html.ActionLink("Back to List", "Index")
        <hr />
        
    </div>
</section>


@*@*placeholder for weather info (popup/dialog box) when weather icon is clicked
<div id="currentWeather" title="Current Conditions"></div>

@section scripts {
    <script>
        //set up the URL to call weather API, inserting the zip code of our author dynamically
        var uri = 'http://api.openweathermap.org/data/2.5/weather?zip=' + @Model.ZipCode + ',us&units=imperial&appid=b5ff7b00f21c4ed482cd316c780640e9';

        $(function () {
            //doc.ready function:
            //Send the AJAX request to get the temperature
            $.getJSON(uri)
                .done(function (data) {
                    //on success, 'data' contains the weather info. Add that to the currentWeather div.
                    document.getElementById("currentWeather")
                    .innerHTML = "<h1>The Current Temp in @Model.City is " + data.main.temp + "&deg;F</h1>"
                });//end get json/done event handler


            //set up the dialog box aka apply the dialog plugin (coming from jQueryUI)
            $("#currentWeather").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000//in milliseconds
                },
                hide: {
                    effect: "blind",
                    duration: 1000//in milliseconds
                }
            });//end dialogboxification of currentWeather

            //show the dialog when the icon is clicked
            $("#showWeather").on("click", function () {
                $("#currentWeather").dialog("open");
            });//end icon click event to launch dialog

            //change cursor to finger on hover for icon
            $("#showWeather").css('cursor', 'pointer');

        });//end doc.ready function
    </script>
}*@
