﻿@model IEnumerable<FP3.Data.EF.OpenPosition>

@{
    ViewBag.Title = "OpenPositions";
}

@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <p style="padding-top:10px;">
        <a href="~/Positions/Create">Create new Position</a>
    </p>
}

<hr />

@if (User.IsInRole("Manager"))
{
    <h2 class="text-center mt-0">Positions for your locations</h2>
}
else if (User.IsInRole("Manager") == false)
{
    <h2 class="text-center mt-0"><strong>All available positions</strong></h2>
    <hr class="divider my-4">
    <h4 class="text-center mt-0">Browse by location</h4>
    <div id="myBtnContainer" class="text-center">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        @foreach (var item in Model.Select(x => x.Location.State).Distinct())
        {
            <button class="btn" onclick="filterSelection('@item')">@item</button>

        }
    </div>
}

@if (User.IsInRole("Manager"))
{


    <section class="page-section" id="services">
        <div class="container">
            <hr class="divider my-4">
            <div class="row">

                @foreach (var item in ViewBag.manager)
                {



                    if (item.Position.Title.ToLower().Contains("developer"))
                    {
                        <div id="@item.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.Location.State">
                            <div class="mt-5">

                                <i class="fas fa-4x fa-file-code text-primary mb-4"></i>
                                <h2 class="h2 mb-2">@item.Position.Title</h2>
                                <h4 class="h4 mb-2 filterDiv @item.Location.State">@item.Location.City, @item.Location.State</h4>
                                <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPositionID">View Details</a>




                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPositionID"> Edit </a></p>
                                        <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID"> Delete </a></p>

                                }



                            </div>
                        </div>
                    }

                    else
                    {

                        <div id="@item.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.Location.State">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-file-alt text-primary mb-4"></i>
                                <h2 class="h2 mb-2">@item.Position.Title</h2>
                                <h4 class="h4 mb-2">@item.Location.City, @item.Location.State</h4>
                                <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPositionID">View Details</a>
                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPositionID"> Edit </a></p>
                                        <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID"> Delete </a></p>

                                }

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
        <hr class="my-lg-1" />
}








<section class="page-section" id="services">
    <div class="container">        
        <div class="row">

            @foreach (var item in ViewBag.Job)
            {



                if (item.OpenPosition.Position.Title.ToLower().Contains("developer"))
                {
                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-file-code text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2 filterDiv @item.OpenPosition.Location.State">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>




                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }



                        </div>
                    </div>
                }

                else
                {

                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-file-alt text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }

                        </div>
                    </div>
                }
            }





            @foreach (var item in ViewBag.Pending)
            {

                if (item.OpenPosition.Position.Title.ToLower().Contains("developer"))
                {

                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-file-code text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2 filterDiv @item.OpenPosition.Location.State">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>




                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }



                        </div>
                    </div>
                }

                else
                {
                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-file-alt text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }

                        </div>
                    </div>
                }
            }


            @foreach (var item in ViewBag.NoJob)
            {


                if (item.OpenPosition.Position.Title.ToLower().Contains("developer"))
                {

                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-file-code text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2 filterDiv @item.OpenPosition.Location.State">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>




                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }



                        </div>
                    </div>
                }

                else
                {
                    <div id="@item.OpenPosition.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.OpenPosition.Location.State">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-file-alt text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPosition.OpenPositionID">[You have previously applied]</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPosition.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPosition.OpenPositionID"> Delete </a></p>

                            }

                        </div>
                    </div>
                }
            }


            @foreach (var item in ViewBag.NoApply)
            {

                if (item.Position.Title.ToLower().Contains("developer"))
                {
                    <div id="@item.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.Location.State">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-file-code text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.Position.Title</h2>
                            <h4 class="h4 mb-2 filterDiv @item.Location.State">@item.Location.City, @item.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPositionID">Click here to learn more</a>




                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID"> Delete </a></p>

                            }



                        </div>
                    </div>
                }


                else
                {
                    <div id="@item.OpenPositionID" class="col-lg-3 col-md-6 text-center filterDiv @item.Location.State">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-file-alt text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.Location.City, @item.Location.State</h4>
                            <a class="btn btn-dark" href="~/OpenPositions/Details/@item.OpenPositionID">Click here to learn more</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <p class="text-muted mb-0">
                                    <a href="~/OpenPositions/Edit/@item.OpenPositionID">
                                        Edit
                                    </a>
                                </p>
                                <p class="text-muted mb-0">
                                    <a href="~/OpenPositions/Delete/@item.OpenPositionID">
                                        Delete
                                    </a>
                                </p>

                            }

                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>

@section scripts{
    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current control button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });



            $(document).ready(function () {
                $('[id]').each(function () {
                    var ids = $('[id=' + this.id + ']');
                    if (ids.length > 1 && ids[0] == this) {
                        $(ids[1]).remove();
                    }
                });
            });
        }
    </script>

}
