﻿@model FP3.UI.Models.OpenPositionViewModel

@{
    ViewBag.Title = "Search Positions";
}

<h2>@ViewBag.Title</h2>

@*Here, we set the form processing to be sent to a different action, left it
    at default POST handling, but could have specified GET if desired*@
@using (Html.BeginForm("SearchResults", "Titles"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>TitleSearchViewModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.IsCumulative, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OpenPositionID)
                    @Html.ValidationMessageFor(model => model.OpenPositionID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PositionID, new { htmlAttributes = new { @class = "form-control", title = "Searches Title/Genre/Publishers" } })
                @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
