﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="~/Content/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/creative.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="padding-bottom:10px;">
        <div class="container" style="height:2.5em">
            <a class="navbar-brand js-scroll-trigger" href="~/Home/Index"><img src="~/Content/img/gethired.png" style="max-height:80%; max-width:80%"/></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <li class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/OpenPositions/Index">Jobs</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager") != true)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Applications/Pending">My Applications</a>
                        </li>
                    }
                    
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Home/Contact">Contact</a>
                    </li>
                    


                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/UsersAdmin/Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/RolesAdmin/Index">Roles</a>
                        </li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Applications/Index">Applications</a>
                        </li>                        
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">@User.Identity.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="~/Account/Login">Login</a>
                        </li>


                    }






                </ul>
            </li>
        </div>

    </nav>
    <!-- Masthead -->
    <!-- About Section -->
    @*<section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">We've got what you need!</h2>
                        <hr class="divider light my-4">
                        <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- Services Section -->
    <div style="padding-top:4.5%;">
        @RenderBody()
    </div>
    <!-- Call to Action Section -->
    <!-- Contact Section -->
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2019 - Dane Pedersen</div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/creative.min.js"></script>
    <script src="~/Content/js/jquery.scrolly.js"></script>
    <script src="~/Content/js/material.min.js"></script>
    <script src="~/Content/js/particles.js"></script>
    <script src="~/Content/js/jquery.particleground.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
