﻿@model FP3.Data.EF.Application

@{
    ViewBag.Title = "Details";
}

<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center" style="padding-top:2rem;">
                @if (Model.OpenPosition.Position.Title.ToLower().Contains("developer"))
                {
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>

                }
                else
                {
                    <i class="fas fa-4x fa-laptop text-primary mb-4"></i>
                }
                <h2 class="text-center mt-0">@Model.OpenPosition.Position.Title</h2>
                <p> @Model.OpenPosition.Location.City, @Model.OpenPosition.Location.State</p>
                <hr class="divider my-2">
                <p class="text-muted mb-0"><strong>Applicant:</strong></p>
                <p class="text-muted mb-0">@Model.UserDetail.FirstName @Model.UserDetail.LastName</p>
                
                <p class="text-muted mb-0">@Model.ApplicationDate.Month/@Model.ApplicationDate.Day/@Model.ApplicationDate.Year </p>
                
                <a href="~/Content/img/@Model.ResumeFilename" target="_blank" class="btn btn-dark">@Model.UserDetail.FirstName's Resume</a>
                <hr />
                @Html.ActionLink("Click here to Accept/Decline", "Edit", new { id = Model.ApplicationID })
            </div>
        </div>
    </div>
    <hr>
</section>
