﻿@model FP3.Data.EF.Application

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center">
        <hr />
        <h3><strong>@Model.UserDetail.FirstName's Application</strong></h3>
        <hr class="divider my-4"/>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ApplicationID)
        @Html.HiddenFor(model => model.OpenPositionID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.ResumeFilename)
        @Html.HiddenFor(model => model.ApplicationID)
        @Html.HiddenFor(model => model.ApplicationDate)       
    
        <div class="form-group">
            <p>
                Send a message to <strong> @Model.UserDetail.FirstName @Model.UserDetail.LastName</strong>
                <br />
                Leave this box blank if you wish to decline their application.
            </p>
            <div class="form-group col-md-6 offset-3">
                @Html.TextBoxFor(model => model.ManagerNotes, new { @class = "form-control", placeholder = "Let them know they got an interview" })
                @Html.ValidationMessageFor(model => model.ManagerNotes)
            </div>
           
        </div>

        <div class="form-group">
            <p>
                Check this box to decline this applicant
            </p>
            <div class="col-md-6 offset-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDeclined)
                    @Html.ValidationMessageFor(model => model.IsDeclined, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ResumeFilename, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ResumeFilename, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ResumeFilename, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-6 offset-3">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
