﻿@model IEnumerable<FP3.Data.EF.Application>

@{
    ViewBag.Title = "Applications";
}



@if (User.IsInRole("Admin"))
{


<p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<section class="page-section" id="services">
    <div class="container">
        <br />
        <h2 class="text-center">Applications for your location: @ViewBag.count</h2>

        <hr class="divider my-4">
        <div class="row">

            @if (User.IsInRole("Manager"))
            {                             

                foreach (var item in Model.Where(x => x.IsDeclined == false && x.OpenPosition.Location.ManagerID == ViewBag.Man && x.ManagerNotes == null))
                {




                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">   
                                <a href="~/Applications/Details/@item.ApplicationID">
                                    <i class="fas fa-4x fa-file-archive text-primary mb-4"></i>
                                </a>
                                <h4 class="h4 mb-2">@item.OpenPosition.Position.Title</h4>
                                <h4 class="h4 mb-2">@item.OpenPosition.Location.City @item.OpenPosition.Location.State</h4>
                                <a class="btn btn-dark" href="~/Content/img/@item.ResumeFilename" target="_blank">@item.ResumeFilename</a>
                            </div>
                        </div>

                       
                            @*<p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPositionID"> Edit </a></p>
                                <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID"> Delete </a></p>*@
     



                }
            }

            @if (User.IsInRole("Admin"))
            {
                foreach (var item in Model)
                {

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">

                        <a href="~/Applications/Details/@item.ApplicationID">
                            <i class="fas fa-4x fa-file-archive text-primary mb-4"></i>
                        </a>
                        <h4 class="h4 mb-2">@item.OpenPosition.Position.Title</h4>
                        <h4 class="h4 mb-2">@item.OpenPosition.Location.City @item.OpenPosition.Location.State</h4>
                        <a class="btn btn-dark" href="~/Content/img/@item.ResumeFilename" target="_blank">@item.ResumeFilename</a>
                    </div>
                </div>


                        <p class="text-muted mb-0"><a href="~/OpenPositions/Edit/@item.OpenPositionID"> Edit </a></p>
                            <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID"> Delete </a></p>


                }
            }





            @*@if (User.Identity.IsAuthenticated)
                        {

                            foreach (var item in Model.Select()
                            {
                    < div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">

                            <a href = "~/Applications/Details/@item.ApplicationID" >
                                < i class="fas fa-4x fa-file-archive text-primary mb-4"></i>
                            </a>
                                <h4 class="h4 mb-2">@item.OpenPosition.Position.Title</h4>
                                    <h4 class="h4 mb-2">@item.OpenPosition.Location.City @item.OpenPosition.Location.State</h4>
                                    <a class="btn btn-dark" href="~/Content/img/@item.ResumeFilename" target="_blank">@item.ResumeFilename</a>

                                </div>
                            </div>
                }


            }*@




        </div>
    </div>








               
 

      
</section>