﻿@model IEnumerable<FP3.Data.EF.Application>

@{
    ViewBag.Title = "Pending";
}


@*@if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }*@
<br />

@if (ViewBag.JobCount > 0)
{
    <h2 class="text-lg-center"><strong>Accepted Applications: @ViewBag.JobCount</strong></h2>
    <hr class="divider my-4">
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">

                @foreach (var item in ViewBag.Job)
                {
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-thumbs-up text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <p><strong>@item.ManagerNotes</strong></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}



<br />
@if (ViewBag.PendingCount > 0)
{
    <h2 class="text-lg-center"><strong>Pending Applications: @ViewBag.PendingCount</strong></h2>
    <hr class="divider my-4">
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                @foreach (var item in ViewBag.Pending)
                {

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-pause text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <p><strong>Your application is currently pending...</strong></p>

                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}

<br />
@if (ViewBag.NoJobCount > 0)
{
    <h2 class="text-lg-center"><strong>Denied Applications: @ViewBag.NoJobCount</strong></h2>
    <hr class="divider my-4">
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                @foreach (var item in ViewBag.NoJob)
                {

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">

                            <i class="fas fa-4x fa-thumbs-down text-primary mb-4"></i>
                            <h2 class="h2 mb-2">@item.OpenPosition.Position.Title</h2>
                            <h4 class="h4 mb-2">@item.OpenPosition.Location.City, @item.OpenPosition.Location.State</h4>
                            <p><strong>Sorry, but we cannot offer you a position at this time</strong></p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}

@if (ViewBag.NoJobCount + ViewBag.JobCount + ViewBag.PendingCount == 0)
{
    <h2 class="text-center">You have not applied for any jobs</h2>
}











@*@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <p class="text-muted mb-0">
            <a href="~/OpenPositions/Edit/@Model.OpenPositionID">
                Edit </a></p>
            <p class="text-muted mb-0"><a href="~/OpenPositions/Delete/@item.OpenPositionID">
                    Delete </a ></p>

    }*@





    @*@Html.ActionLink("Edit", "Edit", new { id=item.ApplicationID }) |
        @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })*@

    

    @*</div>
    </div>
    </section>*@
