﻿
@model FP3.Models.ContactViewModel

@{
    ViewBag.Title = "ContactMe";
}


<h2>@ViewBag.ErrorMessage</h2>

<h2>@ViewBag.Message</h2>

    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center">Contact <strong>Us</strong></h2>
                    <div id="gmap" class="contact-map google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.023561985009!2d-94.61137504846033!3d38.96912997945933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925e366ed0f%3A0x73aec4617abd2f03!2sCentriq+Training!5e0!3m2!1sen!2sus!4v1468708493385" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">Get In Touch</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", placeholder = "Subject" })
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "Message", id = "message", rows = "0" })
                                    @Html.ValidationMessageFor(model => model.Message)
                                </div>

                                <div class="form-group col-md-12">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="submit" />
                                </div>
                        }
                        @*<form id="main-contact-form" class="contact-form row" name="contact-form" method="get" action="#" onsubmit="validateForm(event)">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                    <span id="nameVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="email" class="form-control" placeholder="Email">
                                    <span id="emailVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                                    <span id="subjectVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                                    <span id="messageVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                                </div>
                            </form>*@
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">Contact Info</h2>
                        <address>
                            <p>Dane Pedersen</p>
                            <p>www.danethedev.com</p>
                            <p>Email: pedersen.dane@outlook.com</p>
                        </address>

                    </div>
                </div>



            </div>
        </div>
    </div>


@*<div class="form-horizontal" style="float:left">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>*@
