﻿@{ViewBag.Title = "Home";}

<header class="masthead">
    <div data-velocity="-.4" id="particles" class="header-bg"></div>
    <div class="container" style="clear:both; padding-top:10%;">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Welcome to GetHired</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="~/OpenPositions/Index">Find Jobs</a>
                }
                else
                {
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="~/Account/Register">Find Jobs</a>
                }
            </div>
        </div>
    </div>

</header>

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-search text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Search Jobs</h3>
                    <p class="text-muted mb-0">Our jobs are updated regularly</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Fast Response Times</h3>
                    <p class="text-muted mb-0">You will be notified immediately when an employer declines or accepts your application</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Many Locations</h3>
                    <p class="text-muted mb-0">Many open locations and positions</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-question text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Any questions?</h3>
                    <p class="text-muted mb-0">Check out our contact page to see if we can help</p>
                </div>
            </div>
        </div>
    </div>
</section>